<!--Section Slider-->
<section>
	<h2 class="no-margin">News</h2>
	<div class="container">
		<div class="regular slider">
				<div>
					<div href="/newmembers.html">
						<img src="/images/carousel/newmember-hero.jpg" width="100%">
					</div>
				</div>
				<div>
					<a href="/sermons.html">
						<img src="/images/carousel/sermon-hero.jpg" width="100%">
					</a>
				</div>
				<div>
					<a href="/events.html">
						<img src="/images/carousel/events-hero.jpg" width="100%">
					</a>
				</div>
				<div>
					<a href="/events.html">
						<img class="thumbnail-dark" src="/images/carousel/YouthExplosion.jpg">
					</a>
				</div>
				 <!-- 
					<div>
						<a href="/events.html">
							<img class="thumbnail-dark" src="/images/carousel/">
						</a>
					</div> 
					-->
		</div>
	</div>
</section>