.text-center {
	text-align: center !important;
}

.padding-left-20 {
	padding-left: 2rem !important;
}

.float-right {
	float: right;
}

.no-margin {
	margin: 0 !important;
}

.thumbnail {
	display:block;
	margin: 0px auto 60px;
	padding:15px; 
	background-color: #ddd;
}