.col-100 {
	padding: 0 15px;
	width: 100%;
    clear: both;
}

.col-50 {
    padding: 0 15px;
    width: 50%;
    float: left;
}
.col-50 p {
    text-justify: justify;
}

.col-30 {
    padding: 0 15px;
    width: 33.333%;
    float: left;
}
