<div class="side-nav">
		<div class="side-nav-trigger">
			✕
		</div>

		<div class="connect-icons">
				<a href="https://www.facebook.com/newlifeconcord.org" class="icon-round-small"><i class="icon-social-facebook"></i></a>
				<a href="https://www.youtube.com/user/TheNLBCmediaministry" class="icon-round-small"><i class="icon-social-youtube"></i></a>
				<a href="http://www.sundaystreams.com/roku/streamid/NewLifeBaptistChurch" class="icon-round-small"><i class="icon-video-camera"></i></a>	
		</div>

		<li>
				<a href="/#aboutus" class="dropdown">About Us <i class="icon-ios-arrow-down"></i> </a>
				<ul>
					<li><a href="/ourvision.html">Our Mission</a></li>
					<li><a href="/pastor.html">Meet the Pastor</a></li>
					<li><a href="/staff.html">Our Staff</a></li>
				</ul>  
		</li>
		<li>
				<a href="/" class="dropdown">Ministries <i class="icon-ios-arrow-down"></i> </a>
				<ul>
					<li><a href="/sunday.html">Sunday Teams</a></li>	
					<li><a href="/performing-arts.html">Performing Arts</a></li>
					<li><a href="/hospitality.html">Hospitality</a></li>
					<li><a href="/menofhonor.html">Men of Honor</a></li>
					<li><a href="/ladiesofdestiny.html">Ladies of Destiny</a></li>
					<li><a href="/missions.html">Missions</a></li>
					<li><a href="/deacons.html">Deacons</a></li>
				</ul>
		</li>

		<li>
				<a href="/" class="dropdown">Events <i class="icon-ios-arrow-down"></i> </a>
				<ul>
					<li><a href="/events.html">Events</a></li>
					<li><a href="/venues.html">Book Venue</a></li>
					<li><a href="https://www.brownbearsw.com/cal/newlifecalendar">Church Calendar</a></li>
				</ul>
		</li>

		<li>
			<a href="/sermons.html">Sermons</a>
		</li>

		<li>
				<a href="/#giving">Giving</a>
		</li>
		<li>
			<a href="/booking.html" class="scroll">Booking</a>
		</li>
		<li>
			<a href="/store.html" class="scroll">Store</a>
		</li>
		<li>
				<a href="/#contact" class="dropdown">Contact <i class="icon-ios-arrow-down"></i> </a>
				<ul>
					<li><a href="/contact-us.html">Contact Us</a></li>
					<li><a href="/prayer-requests.html">Prayer Requests</a></li>
				</ul>
		</li>


</div>
