<footer>
	<div class="container">
		<div class="col-30">
			<h4>SUNDAY GATHERINGS</h4>
			<p>Sundays @ 8:30AM &amp; 11am
				<br>1281 Biscayne Dr, Concord, NC 28027
				<br>704-782-6215
			</p>
			<p></p>
		</div>
		<div class="col-30">
			<h4>GET CONNECTED</h4>
			<div class="connect-icons">
				<a href="https://www.facebook.com/newlifeconcord.org"><i class="icon-social-facebook"></i></a>
				<a href="https://www.youtube.com/user/TheNLBCmediaministry">	<i class="icon-social-youtube"></i></a>
				<a href="http://www.sundaystreams.com/roku/streamid/NewLifeBaptistChurch"><i class="icon-video-camera"></i></a>	
			</div>
		</div>
		<div class="col-100 text-center">
			<p class="p4">Copyright © New Life Baptist Church 2017
				<br>Built by Block-Digital
			</p>
		</div>
	</div>
</footer>