.slider {
    width: 100%;
    max-width: 120rem;
    margin: 50px auto 70px;
    max-height: 670px;
    overflow: hidden;
}

.slick-slide img {
    width: 100% !important;
}

.slick-slide img.thumbnail-dark {
    width: calc(100% - 20px) !important;
}

button.slick-prev:hover,
button.slick-next:hover {
    border: none;
}

.slick-prev:before,
.slick-next:before {
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    line-height: 2.5rem;
}
.slick-prev,
.slick-next {
    z-index: 5;
}

.slick-prev {
    left: 4rem;
}

.slick-next {
    right: 4rem;
}
