{{ partial "header" }}
    <div class="wrapper">
        {{ partial "layout-nav" }}
        <header class="site-header internal-page">
            <h1>{{ .Params.header }}</h1>
            <i class="icon-ios-arrow-down"></i>
        </header>
        <div class="page-container">
            <div class="page-content">
								
							<section class="interior-section">
								<div class="container">
									<h2>Featured Event</h2><br><br>
									<div class="row">					
										{{ range .Params.featuredEvents }}
											<div class="col-xs-12 col-md-6">
												<!-- Event Image -->	
												<img src="{{.image}}" class="thumbnail">
											</div>
											<div class="col-xs-12 col-md-6">
												<h4>
													<!-- Event title -->
													{{ .title }}
												</h4>
												<p class="text-justify">
													<!-- Event description -->
													{{ .description }}
												</p>
											</div>
										{{ end }}
									</div>
								</div>
							</section>
							<section class="interior-section">
								<div class="container">
									<h2>More Events</h2><br><br>
									<div class="row">
										{{ range .Params.moreEvents }}
											<div class="col-xs-12 col-md-4">
													<img class="thumbnail profile-pic" src="{{ .image }}">
												</div>
										{{ end }}
									</div>
								</div>
							</section>
							<section class="interior-section">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<h4>Girl Scouts</h4>
											<p class="text-justify">The Girl Scouts meet at New Life Baptist on a regular basis and are supported by the church. If you are interested in having your daughter take part, please download the flyer provided by the Hornets’ Nest Council in Cabarrus County. </p>
										</div>
										<div class="col-xs-12 col-md-6">
											<img src="/images/girlscouts.png" class="img-girlscout">
										</div>
									</div>
								</div>
							</section>
							
							<section class="interior-section">
								<div class="container">
									<h2>New Life Venues</h2>
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<h4>Our Sanctuary</h4>
											<p></p>
											<a class="button blue" style="margin-bottom: 40px;" href="/booking.html" target="_blank">Reserve Today</a>
										</div>
										<div class="col-xs-12 col-md-6">
											<img src="images/sanctuary.jpg" class="thumbnail">
										</div>
									</div>
								</div>
							</section>
							<section class="interior-section">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<img src="images/wes2.jpg" class="thumbnail">
										</div>
										<div class="col-xs-12 col-md-6">
											<h4>Sarah Gantt Family Life Center</h4>
											<p></p>
											<a class="button blue" href="/booking.html" target="_blank">Reserve Today</a>
										</div>
									</div>
								</div>
							</section>
							<section class="interior-section">
								<div class="container">
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<h4>Annie Streater Dream Center</h4>
											<p></p>
											<a class="button blue" style="margin-bottom: 40px;" href="/booking.html" target="_blank">Reserve Today</a>
										</div>
										<div class="col-xs-12 col-md-6">
											<img src="images/dreamcenter.jpg" class="thumbnail">
										</div>
									</div>
								</div>
							</section>

            </div>    
            {{ partial "layout-footer" }}
        </div><!-- .main -->
    </div><!-- .wrapper -->
    {{ partial "layout-side-nav" }}
{{ partial "footer" }} 
